body {
    overflow: scroll;
}

.cyclemap {
    height: 85vh;
}

.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
}

.overlay button {
    font: 600 20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.overlay button:hover {
    background-color: #4ea0da;
}